.image_bg {
  background: #fff;
  height: 12vh;
  width: 100%;
  border: 1px solid #eee;
  /* position: fixed; */
  transition: 0.5s ease all;
}
.fixed_image {
  background: #fff;
  height: 12vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid #eee;
  top: 70px;
}
