.flags_select {
    padding: 50px;
    height: 55px;
}

.bg_image {
    background-image: url('../../public/images/banner_image/carbg.jpg');
    height: 120vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.form {
    background-color: #000;
}

.registerButton {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.registerButton:hover {
    color: blue;
    text-decoration: underline;
}

.inputOTP {
    border: 1px solid #222;
    border-radius: 5px;
    width: 40px !important;
    height: 40px;
    margin: 3px;
}

.errorInputOTP {
    border: 1px solid red;
    border-radius: 5px;
    width: 40px !important;
    height: 40px;
    margin: 10px;
}

.inputOTP:focus {
    outline: none;
}