.bgImage {
  background-image: url("../../public/images/banner_image/banner_02.webp");
  background-position: center;
  background-size: cover;
  height: 90vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
}

.seller_banner_heading {
  font-size: 40px;
}

.divider_text {
  font-size: 25px;
  color: blue;
  font-weight: 500;
  text-transform: lowercase;
}

@media screen and (max-width: 600px) {
  .seller_banner_heading {
    font-size: 20px;
  }
}
